@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05); /* Puedes ajustar el nivel de zoom aquí */
  }
  100% {
    transform: scale(1);
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  min-height: 100vh;
  padding: 0 ;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.body {
  width: 100%;
  height: 100vh;
  background-image: url('/enanaBlancaCap5.jpg');
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*cubre el ancho o alto */
  background-attachment: fixed;
  /* ----- */
  position: relative;
  width: 100%;
  height: 100vh;
}

.zoom-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/enanaBlancaCap5.jpg');
  background-size: cover;
  background-position: center;
  animation: zoom 20s infinite alternate; /* Puedes ajustar la duración de la animación aquí */
}

#header {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.839), rgba(168, 168, 168, 0));
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  height: 120px;
  width: 100%;
}

.titleNavbar {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 100%;
}


#logo {
  height: 100px;
}

#titulo {
  height: 30px;
}